* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#center {
    margin-top: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#center #input {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    width: 30vw;
}

#center #button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(237, 237, 237);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}