* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
span{
    color: red;
    text-align: center;
}
/* -----------------==> Store Value Useing Input <==------------------ */

#inputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#inputDiv input{
    padding: 10px;
    width: 300px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}   

#inputDiv button{
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}

